/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
li {
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
input,
textarea {
  font-family: 'Roboto', sans-serif;
}
.app {
  display: flex;
  flex-direction: row;
}
.container-main-nav {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #1b242f;
  width: 100%;
  height: 6rem;
  border-bottom: 0.25rem solid #17A2B8;
}
@media (max-width: 900px) {
  .container-main-nav {
    flex-direction: column;
    height: 8rem;
  }
}
@media (max-width: 600px) {
  .container-main-nav {
    flex-direction: row;
    height: 8rem;
  }
}
.container-main-nav button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}
.container-main-nav button:focus {
  outline: 0;
}
.container-main-nav h1 {
  margin-left: 2rem;
  font-size: 2rem;
  color: #FFFFFF;
}
@media (max-width: 900px) {
  .container-main-nav h1 {
    padding-top: 1rem;
    font-size: 2rem;
  }
}
@media (max-width: 600px) {
  .container-main-nav h1 {
    padding-top: 0rem;
    font-size: 2rem;
  }
}
.container-main-nav nav {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
}
@media (max-width: 900px) {
  .container-main-nav nav {
    width: 80%;
    padding-right: 0px;
  }
}
@media (max-width: 600px) {
  .container-main-nav nav {
    width: 20%;
    justify-content: flex-end;
  }
}
.container-main-nav nav .container-hamberger {
  margin: 0, auto;
}
.container-main-nav nav .container-hamberger i {
  transition-duration: 1s;
  cursor: pointer;
  color: #FFFFFF;
  margin: 0 auto;
  font-size: 3rem;
  margin-right: 2rem;
}
.container-main-nav nav .container-hamberger i:hover {
  color: #f58a11;
}
.container-main-nav nav .ham-inactive i {
  color: #FFFFFF;
}
.container-main-nav nav .ham-active i {
  color: #17A2B8;
}
.container-main-nav nav .nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  height: 100%;
  width: 30%;
  color: #FFFFFF;
  text-decoration: none;
  transition-duration: 1s;
}
@media (max-width: 900px) {
  .container-main-nav nav .nav-link {
    width: 20%;
  }
}
.container-main-nav nav .nav-link:hover {
  font-size: 2rem;
  color: #f58a11;
  text-decoration: none;
  border-bottom: 0.5rem solid transparent;
  border-radius: 2rem;
  border-top: 0.5rem solid transparent;
}
@media (max-width: 600px) {
  .container-main-nav nav .nav-link:hover {
    display: flex;
  }
}
.container-main-nav nav .link-active {
  color: #17A2B8;
  border-bottom: 0.5rem solid transparent;
  border-radius: 2rem;
  border-top: 0.5rem solid transparent;
}
.container-main-nav nav .link-inactive {
  color: #FFFFFF;
}
.container-extended-nav {
  z-index: 1;
  position: fixed;
  top: -16rem;
  left: 0;
  width: 100%;
  height: 24rem;
  background-color: #272727;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container-extended-nav button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}
.container-extended-nav button:focus {
  outline: 0;
}
.container-extended-nav .nav-link {
  transition-duration: 1s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  height: 100%;
  width: 20%;
  color: #FFFFFF;
  text-decoration: none;
}
@media (max-width: 600px) {
  .container-extended-nav .nav-link {
    height: 6.5rem;
    width: 30%;
  }
}
.container-extended-nav .nav-link:hover {
  font-size: 2rem;
  color: #f58a11;
  text-decoration: none;
  border-bottom: 0.5rem solid transparent;
  border-radius: 2rem;
  border-top: 0.5rem solid transparent;
}
.container-extended-nav .link-active {
  color: #17A2B8;
  border-bottom: 0.5rem solid transparent;
  border-radius: 2rem;
  border-top: 0.5rem solid transparent;
}
.container-extended-nav .link-inactive {
  color: #FFFFFF;
}
.container-main-contact {
  background-color: #272727;
  border-bottom: 1px solid #17A2B8;
}
.container-main-contact #contact {
  padding: 0 5%;
}
.container-main-contact #contact .container-form {
  background-color: #272727;
}
.container-main-contact #contact .container-form form {
  padding: 5% 10%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 900px) {
  .container-main-contact #contact .container-form form {
    padding: 5% 0%;
  }
}
@media (max-width: 600px) {
  .container-main-contact #contact .container-form form {
    padding: 5% 0%;
  }
}
.container-main-contact #contact .container-form form h2 {
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 3%;
}
.container-main-contact #contact .container-form form input {
  margin-bottom: 1%;
  font-size: 2rem;
  padding: 1rem;
  color: #FFFFFF;
  background-color: #1b242f;
  border: 1px solid #1b242f;
  border-radius: 0.5rem;
}
.container-main-contact #contact .container-form form textarea {
  resize: none;
  margin-bottom: 1%;
  font-size: 2rem;
  padding: 1rem;
  color: #FFFFFF;
  background-color: #1b242f;
  border: 1px solid #1b242f;
  border-radius: 0.5rem;
  height: 15rem;
}
.container-main-contact #contact .container-form form button {
  cursor: pointer;
  font-size: 2rem;
  padding: 1rem;
  color: #FFFFFF;
  background-color: #17A2B8;
  border: 1px solid #1b242f;
  border-radius: 0.5rem;
  transition-duration: 1s;
}
.container-main-contact #contact .container-form form button:hover {
  font-size: 2rem;
  padding: 1rem;
  color: #1b242f;
  background-color: #f58a11;
  border: 1px solid #1b242f;
  border-radius: 0.5rem;
}
.container-main-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 20rem;
  background-color: #1b242f;
}
.container-main-footer p {
  text-align: center;
  color: #17A2B8;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}
.container-main-footer .links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20rem;
}
.container-main-footer .links-container .social-link {
  transition-duration: 1s;
  color: #17A2B8;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container-main-footer .links-container .social-link i {
  font-size: 6rem;
}
.container-main-footer .links-container .social-link p {
  display: none;
  color: white;
  transition-duration: 1s;
}
.container-main-footer .links-container .social-link:hover {
  color: #f58a11;
}
.container-main-footer .links-container .social-link:hover i {
  font-size: 3rem;
}
.container-main-footer .links-container .social-link:hover p {
  display: block;
  text-align: center;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  color: #f58a11;
}
.container-main-home #home {
  margin-top: 6rem;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-main-projects {
  min-height: 100vh;
  background-color: #272727;
  border-bottom: 1px solid #272727;
}
.container-main-projects #projects {
  padding: 0 5%;
  display: flex;
  justify-content: center;
}
.container-main-projects #projects .container-main {
  background-color: #272727;
  width: 80%;
}
.container-main-projects #projects .container-main h2 {
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 3%;
}
.container-main-projects #projects .container-main .container-projects {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container-main-projects #projects .container-main .container-projects .container-project {
  transition-duration: 1s;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 1rem;
  width: 49%;
  margin-bottom: 1.6rem;
  background-color: #1b242f;
  overflow: hidden;
}
.container-main-projects #projects .container-main .container-projects .container-project img {
  z-index: 0;
  transition-duration: 1s;
  width: 100%;
  height: auto;
  border-radius: 1rem;
}
.container-main-projects #projects .container-main .container-projects .container-project .tap-here {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.container-main-projects #projects .container-main .container-projects .container-project .tap-here p {
  font-size: 2rem;
  z-index: 0;
  text-align: center;
  width: 30%;
  margin: 0;
  padding: 1rem;
  display: none;
  color: #1b242f;
  font-weight: bold;
  border: 2px solid #1b242f;
  border-radius: 2rem;
  background: #17A2B8;
  opacity: 0.4;
}
@media (max-width: 900px) {
  .container-main-projects #projects .container-main .container-projects .container-project .tap-here {
    display: flex;
  }
  .container-main-projects #projects .container-main .container-projects .container-project .tap-here p {
    display: initial;
  }
}
.container-main-projects #projects .container-main .container-projects .container-project h3 {
  transition-duration: 1s;
  display: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  width: 80%;
}
@media (max-width: 1100px) {
  .container-main-projects #projects .container-main .container-projects .container-project h3 {
    font-size: 1.8rem;
  }
}
@media (max-width: 900px) {
  .container-main-projects #projects .container-main .container-projects .container-project h3 {
    font-size: 1.8rem;
  }
}
@media (max-width: 700px) {
  .container-main-projects #projects .container-main .container-projects .container-project h3 {
    font-size: 2.2rem;
  }
}
@media (max-width: 600px) {
  .container-main-projects #projects .container-main .container-projects .container-project h3 {
    font-size: 2.2rem;
  }
}
@media (max-width: 450px) {
  .container-main-projects #projects .container-main .container-projects .container-project h3 {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }
}
.container-main-projects #projects .container-main .container-projects .container-project h4 {
  transition-duration: 1s;
  display: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  padding-bottom: 0;
  width: 80%;
  text-align: left;
  line-height: 2rem;
}
@media (max-width: 1100px) {
  .container-main-projects #projects .container-main .container-projects .container-project h4 {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
}
@media (max-width: 900px) {
  .container-main-projects #projects .container-main .container-projects .container-project h4 {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
}
@media (max-width: 700px) {
  .container-main-projects #projects .container-main .container-projects .container-project h4 {
    font-size: 1.8rem;
    line-height: 2rem;
  }
}
@media (max-width: 600px) {
  .container-main-projects #projects .container-main .container-projects .container-project h4 {
    font-size: 1.8rem;
    line-height: 2rem;
  }
}
@media (max-width: 450px) {
  .container-main-projects #projects .container-main .container-projects .container-project h4 {
    font-size: 1.3rem;
    line-height: 1.2rem;
  }
}
.container-main-projects #projects .container-main .container-projects .container-project p {
  transition-duration: 1s;
  display: none;
  color: #FFFFFF;
  text-align: left;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  padding-bottom: 0;
  width: 80%;
}
@media (max-width: 1100px) {
  .container-main-projects #projects .container-main .container-projects .container-project p {
    font-size: 1.2rem;
  }
}
@media (max-width: 900px) {
  .container-main-projects #projects .container-main .container-projects .container-project p {
    font-size: 1.2rem;
  }
}
@media (max-width: 700px) {
  .container-main-projects #projects .container-main .container-projects .container-project p {
    font-size: 1.6rem;
  }
}
@media (max-width: 600px) {
  .container-main-projects #projects .container-main .container-projects .container-project p {
    font-size: 1.6rem;
  }
}
@media (max-width: 450px) {
  .container-main-projects #projects .container-main .container-projects .container-project p {
    font-size: 1.2rem;
  }
}
.container-main-projects #projects .container-main .container-projects .container-project div {
  display: flex;
  width: 80%;
  justify-content: space-between;
}
.container-main-projects #projects .container-main .container-projects .container-project div button {
  transition-duration: 1s;
  display: none;
  cursor: pointer;
  font-size: 1.6rem;
  padding: 1rem;
  color: #FFFFFF;
  background-color: #17A2B8;
  border: 1px solid #1b242f;
  border-radius: 0.5rem;
  width: 45%;
  height: auto;
  margin-bottom: 2rem;
}
@media (max-width: 1100px) {
  .container-main-projects #projects .container-main .container-projects .container-project div button {
    font-size: 1.2rem;
  }
}
@media (max-width: 900px) {
  .container-main-projects #projects .container-main .container-projects .container-project div button {
    font-size: 1.2rem;
  }
}
@media (max-width: 700px) {
  .container-main-projects #projects .container-main .container-projects .container-project div button {
    font-size: 1.6rem;
  }
}
@media (max-width: 600px) {
  .container-main-projects #projects .container-main .container-projects .container-project div button {
    font-size: 1.6rem;
  }
}
@media (max-width: 450px) {
  .container-main-projects #projects .container-main .container-projects .container-project div button {
    font-size: 1.2rem;
  }
}
.container-main-projects #projects .container-main .container-projects .container-project div button:hover {
  color: #1b242f;
  background-color: #f58a11;
  border: 1px solid #1b242f;
  border-radius: 0.5rem;
}
@media (max-width: 700px) {
  .container-main-projects #projects .container-main .container-projects .container-project {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .container-main-projects #projects .container-main .container-projects .container-project {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .container-main-projects #projects .container-main .container-projects .container-project {
    width: 100%;
  }
}
.container-main-projects #projects .container-main .container-project:hover {
  cursor: pointer;
  background-color: #1b242f;
  min-height: auto;
}
.container-main-projects #projects .container-main .container-project:hover img {
  opacity: 0;
}
.container-main-projects #projects .container-main .container-project:hover .container-project-absolute {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.container-main-projects #projects .container-main .container-project:hover .container-project-absolute .tap-here {
  display: none;
}
.container-main-projects #projects .container-main .container-project:hover .container-project-absolute h3 {
  display: initial;
}
.container-main-projects #projects .container-main .container-project:hover .container-project-absolute h4 {
  display: initial;
}
.container-main-projects #projects .container-main .container-project:hover .container-project-absolute p {
  display: initial;
}
.container-main-projects #projects .container-main .container-project:hover .container-project-absolute button {
  display: initial;
}
@media (max-width: 900px) {
  .container-main-projects #projects .container-main {
    width: 100%;
  }
}
.container-main-about {
  margin-top: 6rem;
  min-height: 100vh;
  background-color: #272727;
  border-bottom: 1px solid #272727;
}
@media (max-width: 900px) {
  .container-main-about {
    margin-top: 7rem;
  }
}
@media (max-width: 600px) {
  .container-main-about {
    margin-top: 8rem;
  }
}
.container-main-about #about {
  padding: 5%;
}
.container-main-about #about .container-main {
  background-color: #272727;
  padding-bottom: 2rem;
}
.container-main-about #about .container-main h2 {
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 3%;
}
.container-main-about #about .container-main .container-about {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.container-main-about #about .container-main .container-about .container-image {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  border-radius: 18rem 1rem 1rem 18rem;
  background: #1b242f;
}
.container-main-about #about .container-main .container-about .container-image img {
  width: 15%;
  border-radius: 50%;
  margin: 5%;
}
.container-main-about #about .container-main .container-about .container-image p {
  font-size: 2rem;
  color: #FFFFFF;
  text-align: left;
  width: 90%;
  margin: 2rem 2rem;
}
.container-main-about #about .container-main .container-about .container-image p span {
  color: #f58a11;
}
@media (max-width: 1300px) {
  .container-main-about #about .container-main .container-about .container-image {
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 50% 50% 1rem 1rem;
    width: 80%;
  }
  .container-main-about #about .container-main .container-about .container-image img {
    width: 30%;
    margin: 2rem;
    margin-top: 4rem;
  }
  .container-main-about #about .container-main .container-about .container-image p {
    margin-bottom: 2rem;
  }
}
@media (max-width: 900px) {
  .container-main-about #about .container-main .container-about .container-image {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .container-main-about #about .container-main .container-about .container-image {
    border-radius: 1rem;
  }
  .container-main-about #about .container-main .container-about .container-image img {
    width: 70%;
  }
  .container-main-about #about .container-main .container-about .container-image p {
    font-size: 1.6rem;
  }
}
.container-main-about #about .container-main .container-about .container-skills {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-radius: 1rem;
  background: #1b242f;
  margin-top: 3rem;
}
.container-main-about #about .container-main .container-about .container-skills h3 {
  font-size: 3rem;
  text-decoration: none;
  color: #FFFFFF;
}
@media (max-width: 900px) {
  .container-main-about #about .container-main .container-about .container-skills h3 {
    margin: 2rem 0rem;
    font-size: 2rem;
  }
}
.container-main-about #about .container-main .container-about .container-skills .container-skills-lists {
  padding: 2rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.container-main-about #about .container-main .container-about .container-skills .container-skills-lists .container-skills-lists-sub {
  width: 100%;
}
.container-main-about #about .container-main .container-about .container-skills .container-skills-lists .container-skills-lists-sub h4 {
  font-size: 2rem;
  text-decoration: none;
  color: #f58a11;
}
.container-main-about #about .container-main .container-about .container-skills .container-skills-lists .container-skills-lists-sub hr {
  border-color: #17A2B8;
}
.container-main-about #about .container-main .container-about .container-skills .container-skills-lists .container-skills-lists-sub .container-skills-lists-sub2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.container-main-about #about .container-main .container-about .container-skills .container-skills-lists .container-skills-lists-sub .container-skills-lists-sub2 .container-skills-lists-imgdiv {
  width: 9rem;
  height: 9rem;
  margin: 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.container-main-about #about .container-main .container-about .container-skills .container-skills-lists .container-skills-lists-sub .container-skills-lists-sub2 .container-skills-lists-imgdiv p {
  padding: 0;
  font-size: 2rem;
  color: #FFFFFF;
}
@media (max-width: 900px) {
  .container-main-about #about .container-main .container-about .container-skills .container-skills-lists .container-skills-lists-sub .container-skills-lists-sub2 .container-skills-lists-imgdiv {
    width: 7rem;
    height: 7rem;
  }
}
@media (max-width: 600px) {
  .container-main-about #about .container-main .container-about .container-skills .container-skills-lists .container-skills-lists-sub .container-skills-lists-sub2 .container-skills-lists-imgdiv {
    width: 5rem;
    height: 5rem;
  }
}
@media (max-width: 900px) {
  .container-main-about #about .container-main .container-about .container-skills {
    flex-direction: column;
    width: 100%;
    margin-top: 3rem;
  }
}
@media (max-width: 900px) {
  .container-main-about #about {
    height: auto;
  }
}
