.container-main-projects {
  min-height: 100vh;
  background-color: @dark-grey;
  border-bottom: 1px solid @dark-grey;
  #projects {
    padding: 0 5%;
    display: flex;
    justify-content: center;
    .container-main {
      background-color: @dark-grey;
      width: 80%;
      h2 {
        color: @white;
        text-align: center;
        margin-bottom: 3%;
      }
      .container-projects {
        width: 100%;
        display: flex;
        flex-direction: column;
        .container-project {
          width: 100%;
          padding: 3rem;
          border: 1px solid transparent;
          border-radius: 1rem;
          margin-bottom: 1.6rem;
          background-color: @dark-slate;
          .container-project-absolute{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
          .container-title{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 2rem;
            width: 100%;
            img {
              z-index: 0;
              width: 7rem;
              height: 7rem;
              border-radius: 1rem;
              background-color:  @white;
              @media @mobile {
                width: 5rem;
                height: 5rem;
              }
            }
            h3 {
              color: @white;
              text-align: center;
              font-size: 3rem;
              width: 100%;
              @media @tablet {
                font-size: 3rem;
              }
              @media @mobile {
                font-size: 3rem;
              }
            }
            .container-fake-img{
              width: 7rem;
              @media @mobile {
                width: 5rem;
              }
            }
          }
            h4 {
              color: @white;
              text-align: center;
              font-size: 2rem;
              margin-bottom: 2rem;
              padding-bottom: 0;
              width: 100%;
              text-align: left;
              line-height: 2.8rem;
              @media @tablet {
                font-size: 2rem;
                line-height: 2rem;
              }
              @media @mobile {
                font-size: 2rem;
                line-height: 2rem;
              }
            }
            p {
              color: @white;
              text-align: left;
              font-size: 2rem;
              margin-bottom: 2rem;
              padding-bottom: 0;
              width: 100%;
              @media @tablet {
                font-size: 2rem;
              }
              @media @mobile {
                font-size: 2rem;
              }
            }
            .container-buttons {
              display: flex;
              width: 100%;
              justify-content: space-between;
              button {
                transition-duration: 1s;
                cursor: pointer;
                font-size: 2rem;
                padding: 1rem;
                color: @white;
                background-color: @eastern-blue;
                border: 1px solid @dark-slate;
                border-radius: 0.5rem;
                width: 45%;
                @media @tablet {
                  font-size: 2rem;
                }
                @media @mobile {
                  font-size: 2rem;
                  width: 100%;
                }
              }
              button:hover {
                color: @dark-slate;
                background-color: @orange;
                border: 1px solid @dark-slate;
                border-radius: 0.5rem;
              }
              @media @mobile {
                flex-direction: column;
                height: 11rem;
              }
          }
          }
        }
      }
      @media @tablet {
        width: 100%;
      }
      @media @mobile {
        width: 100%;
      }
    }
  }
}
